<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <title>Falcon Launches</title>
</head>
<nav class="sticky-top navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">SpaceX</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {{home}}">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item {{launch}}">
        <a class="nav-link" href="/launches">Upcoming Events</a>
      </li>
      <li class="nav-item {{allLaunch}}">
        <a class="nav-link" href="/launches/all">All Events</a>
      </li>
    </ul>
    <ul class="navbar-nav justify-content-end">
      {{#if session.user}}
      <li class="nav-item"><span class='navbar-text'></a>Welcome, <b>{{session.user.name}}</b></span></li>
      {{else}}
      <li class="nav-item {{reg}}"><a class="nav-link" href="/users/signup">Register</a></li>
      <li class="nav-item {{login}}"><a class="nav-link" href="/users/login">Log In</a></li>
      {{/if}}
      {{#if session.user}}
      
      <li class="nav-item"><a class="nav-link" href="/users/logout">Log out</a></li>
      {{/if}}
    </ul>
  </div>
</nav>

<body class="back">
  {{{body}}}
</body>

</html>